<header class="row jumbotron">
    <h1 class="col-sm-4">CODE</h1>
    <a class="col-sm-4" id="codeBurgerLogo" href="/"></a>
    <h1 class="col-sm-4">BURGERS</h1>
    
</header>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Code to Devour</h2>
            <div>
                <ul class="list-group">
                    {{#each burgers}} 
                    {{#unless devoured}} 
                    {{> burgers/burger-block}}                    
                    {{/unless}} 
                    {{/each}}
                </ul>
            </div>
            <div class="form">
                <div class="form-group">
                    <label for="tasteyBurger">Code to devour</label>
                    <input type="input" class="form-control" id="userBurger" placeholder="Enter a language/librbray/concept here">
                </div>

                <button type="submit" id="newBurgerBtn" class="btn btn-primary">Submit</button>
            </div>
        </div>

        <div class="col-sm-6">
            <h2>Code you've Devoured</h2>
            <div>
                <ul class="list-group">
                    {{#each burgers}} 
                    {{#if devoured}} 
                   <li class="list-group-item list-group-item-info">{{burger_name}}</li> 
                    {{/if}} 
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>

</body>

</html>