<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burgers.js"></script>

    <title>Code Burgers</title>
</head>

<body>
    <header>
        <h1>C#DE/BURGER$</h1>
        <img src="../public/img/DevourTrns.png" alt="Code Burger Logo">
    </header>
    <div class="container">
        <div class="col-s-6">
            <h2>Code to Devour</h2>
            <div class="form">
                <div class="form-group">
                    <label for="tasteyBurger">Code to devour</label>
                    <input type="input" class="form-control" id="userBurger" placeholder="Enter a language/librbray/concept here">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

        <div class="col-s-6">
            <h2>Code you've Devoured</h2>
            <ul>
                <li>

                </li>
            </ul>
        </div>

        </container>

</body>

</html>