<li class="list-group-item list-group-item-warning">
<span class="todo-name font-weight-bold">{{this.burger_name}}</span>
<button class="deleteBtn btn btn-sm rounded-0 border-0 float-right btn-outline-secondary" data-id="{{id}}">x</button>
<button class="devourBtn btn btn-sm rounded-0 border-0 float-right btn-outline-secondary" data-id="{{id}}">Devour This</button>

</li>